app/__pycache__/*
app/resources/models
app/utils/__pycache__/*
app/pipeline/__pycache__/*
*.pyc

.venv/*
.git
.gitignore
.vscode
*.ipynb
__pycache__

Dockerfile
docker-compose.yml
.dockerignore

README.md
LICENSE
