.vscode
*.pyc
__pycache__/

.venv/
app/resources/*
app/test_resources/*
app/model_manager/toy_resources/*
*.ipynb
outfile.txt
jobs/*
*.sh
app/local_models/*
app/local_gazetteers/*
app/local_vector_dbs/*
resources/*
app/default_resources/*
app/registry.yaml
app/model_manager/registry.yaml
app/model_manager/toy_registry.yaml
default_resources/*
CLAUDE.md
CLAUDE.original.md

test_annotations.py
local_files/*